<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Olá Mundo com Flask</h1>
    <h2>EU Vou FAZER DAR CERTO </h2>

    <a href="{{url_for('urldinamica')}}">Link para a Url Dinamica </a>
    <br>
    <a href="/quebra">Link que quebra </a> 
    <br>
    <a href="{{url_for('exibeusuario')}}">Link para saudar  o Usuario!</a>
    <br>
    <a href="{{url_for('exibirUsuarioOtimizado')}}">Link para exibir boas vindas com nome do Usuario</a>
</body>
</html>